.Card {
  height: 140px;
  width: 110px;
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
  box-shadow: 4px 4px 7px -8px black;
  cursor: pointer;
  border-radius: 10px;
}

.fire {
  box-shadow: inset 0px 0px 0px 1px #f10808;
}
.ice {
  box-shadow: inset 0px 0px 0px 1px #0f81eb;
}
.earth {
  box-shadow: inset 0px 0px 0px 1px #7e4704;
}

.Disabled {
  color: grey;
  border: solid 1px grey;
  cursor: pointer;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CardContainer p {
  font-size: 12px;
  margin: 3px 10px;
}